-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: ig_ai_system
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `account_types`
--

DROP TABLE IF EXISTS `account_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_types` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '類型代碼 (main, alt, official, fan)',
  `name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '顯示名稱 (本帳, 小帳...)',
  `weight` float DEFAULT '1' COMMENT '權重 (可用於 AI 訓練優先級)',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_types`
--

LOCK TABLES `account_types` WRITE;
/*!40000 ALTER TABLE `account_types` DISABLE KEYS */;
INSERT INTO `account_types` VALUES (1,'main','本帳',1,'2026-03-01 03:21:37'),(2,'official','官方帳',1,'2026-03-01 03:21:37'),(3,'alt','小帳',0.8,'2026-03-01 03:21:37'),(4,'fan','粉絲帳',0.5,'2026-03-01 03:21:37'),(5,'collab','協作白名單',0.5,'2026-03-02 12:30:31');
/*!40000 ALTER TABLE `account_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_analysis_logs`
--

DROP TABLE IF EXISTS `ai_analysis_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_analysis_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `media_id` bigint NOT NULL,
  `face_detected` tinyint(1) DEFAULT '0' COMMENT '[C0] 是否有人臉',
  `confidence_score` float DEFAULT NULL COMMENT '[C2] 正向餘弦距離',
  `recognition_status` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING' COMMENT 'AI 最終判定分流',
  `hitl_confirmed` tinyint(1) DEFAULT NULL COMMENT '[C9] 人工覆核 (NULL=未審, 1=通過, 0=排除)',
  `hitl_reviewed_at` timestamp NULL DEFAULT NULL COMMENT '人工審核時間',
  `processed_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `media_id` (`media_id`),
  KEY `idx_status` (`recognition_status`),
  CONSTRAINT `ai_analysis_logs_ibfk_1` FOREIGN KEY (`media_id`) REFERENCES `media_assets` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_analysis_logs`
--

LOCK TABLES `ai_analysis_logs` WRITE;
/*!40000 ALTER TABLE `ai_analysis_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_analysis_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media_assets`
--

DROP TABLE IF EXISTS `media_assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `media_assets` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `person_id` int DEFAULT NULL COMMENT '關聯至 target_persons',
  `system_name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '系統代號(冗餘欄位, 供 Python 快速寫入)',
  `account_id` int DEFAULT NULL COMMENT '來源帳號 ID',
  `file_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'S3 Object Key 或 URI (例: s3://ig-ai-assets/system_name/...)',
  `media_type` enum('IMAGE','VIDEO') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'IMAGE',
  `source_type` enum('POST','REEL','STORY','UNKNOWN','MANUAL_UPLOAD') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'UNKNOWN' COMMENT '來源形式',
  `image_hash` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '[B2] ImageHash 用於去重',
  `download_status` enum('PENDING','DOWNLOADED','FAILED','SKIPPED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'PENDING',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `person_id` (`person_id`),
  KEY `account_id` (`account_id`),
  KEY `idx_system_name` (`system_name`),
  KEY `idx_hash` (`image_hash`),
  CONSTRAINT `media_assets_ibfk_1` FOREIGN KEY (`person_id`) REFERENCES `target_persons` (`id`) ON DELETE CASCADE,
  CONSTRAINT `media_assets_ibfk_2` FOREIGN KEY (`account_id`) REFERENCES `social_accounts` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media_assets`
--

LOCK TABLES `media_assets` WRITE;
/*!40000 ALTER TABLE `media_assets` DISABLE KEYS */;
/*!40000 ALTER TABLE `media_assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `platforms`
--

DROP TABLE IF EXISTS `platforms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `platforms` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '平台代號 (ig, yt, tiktok)',
  `name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '顯示名稱',
  `base_url` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `platforms`
--

LOCK TABLES `platforms` WRITE;
/*!40000 ALTER TABLE `platforms` DISABLE KEYS */;
INSERT INTO `platforms` VALUES (1,'yt','YouTube','https://www.youtube.com/','2026-03-01 03:21:37'),(2,'ig','Instagram','https://www.instagram.com/','2026-03-01 03:21:37'),(3,'tiktok','TikTok','https://www.tiktok.com/','2026-03-01 03:21:37'),(4,'threads','Threads','https://www.threads.com/','2026-03-01 03:21:37');
/*!40000 ALTER TABLE `platforms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_permissions` (
  `role_id` int NOT NULL,
  `route_id` int NOT NULL,
  `can_view` tinyint(1) NOT NULL DEFAULT '1' COMMENT '檢視權限',
  `can_create` tinyint(1) NOT NULL DEFAULT '0' COMMENT '新增權限',
  `can_update` tinyint(1) NOT NULL DEFAULT '0' COMMENT '修改/覆核權限',
  `can_delete` tinyint(1) NOT NULL DEFAULT '0' COMMENT '刪除權限',
  PRIMARY KEY (`role_id`,`route_id`),
  KEY `route_id` (`route_id`),
  CONSTRAINT `role_permissions_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_permissions_ibfk_2` FOREIGN KEY (`route_id`) REFERENCES `system_routes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
INSERT INTO `role_permissions` VALUES (1,1,1,1,1,1),(1,2,1,1,1,1),(1,3,1,1,1,1),(1,4,1,1,1,1),(1,5,1,1,1,1),(1,6,1,1,1,1),(2,1,1,0,1,0),(2,2,1,0,0,0),(2,3,1,0,1,0),(2,4,1,0,0,0),(2,5,0,0,0,0),(2,6,1,0,1,0),(3,1,0,0,0,0),(3,2,1,0,0,0),(3,3,0,0,0,0),(3,4,0,0,0,0),(3,5,0,0,0,0),(3,6,1,0,0,0);
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL COMMENT '如 ADMIN, REVIEWER',
  `name` varchar(50) NOT NULL COMMENT '顯示名稱',
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_role_code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Admin','管理員'),(2,'Reviewer','覆核員'),(3,'Guest','訪客');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `social_accounts`
--

DROP TABLE IF EXISTS `social_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `social_accounts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `person_id` int NOT NULL,
  `platform_id` int NOT NULL,
  `account_type_id` int NOT NULL DEFAULT '1' COMMENT '帳號類型 (關聯至 account_types)',
  `account_identifier` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '帳號 ID / Handle',
  `account_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '帳號顯示名稱',
  `is_monitored` tinyint(1) DEFAULT '1',
  `last_scraped_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_account` (`person_id`,`platform_id`,`account_identifier`),
  KEY `platform_id` (`platform_id`),
  KEY `account_type_id` (`account_type_id`),
  CONSTRAINT `social_accounts_ibfk_1` FOREIGN KEY (`person_id`) REFERENCES `target_persons` (`id`) ON DELETE CASCADE,
  CONSTRAINT `social_accounts_ibfk_2` FOREIGN KEY (`platform_id`) REFERENCES `platforms` (`id`) ON DELETE CASCADE,
  CONSTRAINT `social_accounts_ibfk_3` FOREIGN KEY (`account_type_id`) REFERENCES `account_types` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `social_accounts`
--

LOCK TABLES `social_accounts` WRITE;
/*!40000 ALTER TABLE `social_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `social_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_alerts`
--

DROP TABLE IF EXISTS `system_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_alerts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `alert_type` enum('403_FORBIDDEN','RATE_LIMIT','SYSTEM_ERROR','DB_ERROR') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `source_component` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '來源元件 (如 S1_Scraper, S2_Worker)',
  `message` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `is_resolved` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_alerts`
--

LOCK TABLES `system_alerts` WRITE;
/*!40000 ALTER TABLE `system_alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_routes`
--

DROP TABLE IF EXISTS `system_routes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_routes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `route_name` varchar(50) NOT NULL COMMENT '與前端 View 資料夾名稱對應',
  `path` varchar(100) NOT NULL,
  `title` varchar(100) NOT NULL,
  `is_public` tinyint(1) DEFAULT '0' COMMENT '1=大家都能看, 0=需權限',
  `icon` varchar(50) NOT NULL DEFAULT 0xF09F938C,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_route_name` (`route_name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_routes`
--

LOCK TABLES `system_routes` WRITE;
/*!40000 ALTER TABLE `system_routes` DISABLE KEYS */;
INSERT INTO `system_routes` VALUES (1,'HitlDashboard','/hitl-dashboard','HITL 人工覆核中心',0,'🎯'),(2,'SystemMonitor','/monitor','系統監控大盤',1,'📈'),(3,'ColdStartSetup','/cold-start','冷啟動建檔',0,'❄️'),(4,'ProfileManager','/profile-manager','追蹤人物管理',0,'👤'),(5,'UserManagement','/user-management','帳號權限管理',0,'🔐'),(6,'ClassifiedResults','/','分類結果查看',1,'🖼️');
/*!40000 ALTER TABLE `system_routes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `target_persons`
--

DROP TABLE IF EXISTS `target_persons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `target_persons` (
  `id` int NOT NULL AUTO_INCREMENT,
  `system_name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '系統代號 (資料夾命名基準, 如 dlwlrma)',
  `display_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '顯示名稱 (如 IU 李知恩)',
  `threshold` double DEFAULT '0.45' COMMENT '專屬 AI 辨識門檻',
  `is_active` tinyint(1) DEFAULT '1' COMMENT '全平台追蹤總開關',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `system_name` (`system_name`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `target_persons`
--

LOCK TABLES `target_persons` WRITE;
/*!40000 ALTER TABLE `target_persons` DISABLE KEYS */;
INSERT INTO `target_persons` VALUES (1,'yoona__lim','潤娥',0.35,1,'2026-03-01 03:21:37'),(2,'yyyoungggggg','李雅英',0.35,1,'2026-03-01 03:21:37'),(3,'54jojo1208','啾啾',0.35,1,'2026-03-01 03:21:37'),(4,'leehozeong','李晧禎',0.35,1,'2026-03-01 03:21:37'),(5,'seungyeon','孔升妍',0.4,1,'2026-03-01 06:04:57'),(6,'neck_na_a','睦那京',0.35,1,'2026-03-01 06:22:22'),(7,'daaaaam__b','朴淡備',0.35,1,'2026-03-04 15:13:15');
/*!40000 ALTER TABLE `target_persons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `role_id` int DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_username` (`username`),
  KEY `fk_user_role` (`role_id`),
  CONSTRAINT `fk_user_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2a$11$gwwyVKGbrS58T31e0/IFhe6DDQ2v8O3SnFs2f3EMeHg3Z40tPxbHa',1,1,'2026-03-04 00:49:41'),(2,'reviewer','$2a$11$1yPHBTOWe/59T2cU4dis/.2PiUANkR8anuu3sImGt7rFQTQQGr.6C',2,1,'2026-03-04 01:56:50'),(3,'guest','$2a$11$se9NkVNNIuhQowtUZwXHtuvCCx1uu5yDA.rKTbHrsbMnhzZ5SHASC',3,1,'2026-03-04 03:21:00');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-05  4:19:23
